@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* font-family: 'Roboto', sans-serif; */

.container {
    max-width: 945px;
    padding: 0 30px;
    margin: 0 auto;
    
}
* h2{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

/* header */
.header__burger{
    display: none;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 1px solid #828282;
    z-index: 3;
}
.header__nav {
   width: 100%;
}
.header__body{
    position: relative;
    /* z-index: 2; */
    display: flex;
    justify-content: space-between;
    height: 89px;
    align-items: center;
}
.header__nav-links {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    color: #828282;
    position: relative;
    z-index: 4;
}
.header__nav-links li{

}
.header__nav-item{

}
.header__nav-link {
}
@media (max-width: 650px) {
    .header__body{
        height: 0;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 33px;
        height: 19px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 3px;
        top: 8px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__nav{
        /* display: none; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .header__nav-links{
        display: block;
        margin-left: 26px;
    }
    .header__nav-links li{
        margin-bottom: 65px;
    }
    .lang{
        display: none;
    }
    .hero__inner-text{
        display: flex;
        flex-direction: column;
    }
    .hero__inner-textp1{
        padding-top: 30px;
    }
    .skills__rating{
        flex-direction: column;
    }
    .skills__rating-items{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 81px;
    }
   .contacts__message-btn{
       width: 100%;
   }

}

/* hero */

.hero {
    padding-top: 130px;
}
.hero__inner {
}
.hero__inner-text {
    padding: 40px 0 50px 0;
    display: flex;
    justify-content: space-between;
    
}
.hero__inner-textp{
    display: flex;
    flex-direction: column-reverse;
}
.hero__title {
    font-size: 47px;
    font-weight: bold;
    align-self: center;
}
.hero__inner-textp1 {
    
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}
.lang {
    align-self: center;
    transform: rotate(-90deg);
    
}
.lang__ru {
    background: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
}
.lang__eng {
    background: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
}
.lang__eng::before{
    content: '|';
    font-size: 16px;
    font-weight: 700;
    
}
.hero__inner-image{
    padding-bottom: 100px;
}
.hero__inner-image img {
    max-width: 100%;
    /* width: 100%; */
    max-height: 387px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* about */
.about {
    background-color: #f6f6f6;
}
.about__inner {
    max-width: 465px;
    text-align: center;
    margin: 0 auto;
}
.about__title {
    padding-top: 115px;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about__text {
    padding-bottom: 115px;
}
.about__text-item {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
.about__text-item:last-child{
    margin-bottom: 0;
}
/* about */
/* skills */
.skills {
}
.skills__title {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 80px;
}
.skills__title-tit {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 60px;
}
.skills__title-text {
    font-size: 18px;
    font-weight: 500;
}
.skills__rating {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    flex-wrap: wrap;
}
.skills__rating-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 166px;
    max-height: 206px;
}
.skills__rating-img {
    display: block;
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
    
}
.skills__rating-title {
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;

}
.skills__rating-stars {
    display: flex;
    justify-content: space-between;
}
.skill__rating-star {
    max-width: 26px;
    max-height: 26px;
    padding-right: 8px;
}
.skill__rating-star:last-child {
    padding-right: 0;
}
/* Portfolio */
.portfolio {
    background-color: #f6f6f6;
}
.portfolio__title {
    text-align: center;
    font-size: 34px;
    font-weight: 70;
    padding-top: 115px;
    padding-bottom: 62px;
}
.portfolio__item {
    max-width: 936px;
    /* max-height: 522px; */
    text-align: center;
    padding-bottom: 100px;
}
.portfolio__item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
}
.portfolio__text {
    font-size: 18px;
    font-weight: 50;
    text-decoration: underline;
}
/* contacts */
.contacts__message{
    text-align: center;
}

.contacts__message-title{
    padding-top: 110px;
}
.contacts__message-text{
    text-align: center;
    font-size: 18px;
    font-weight: 50;
    padding-top: 30px;
    padding-bottom: 35px;
}
.contacts__message-btn{
    display: block;
    margin: 0 auto;
  appearance: none;
  border: 0;
  border-radius: 40px;
  background: #070707;
  color: #fff;
  padding: 14px 30px;
  font-size: 16px;
}
.contacts__message-btn:hover{
    background: #363434;
}
.contacts__message-btn:active{
    background: #4b4949;
}
.contacts__social{
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts__social-inner{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    max-width: 342px;
    width: 100%;
   
}
.contacts__social-img{
    /* margin-right: 60px; */
}
.contacts__social-img:last-child{
    margin-right: 0;
}
.contacts__social-text{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 127px;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}
